
@keyframes in-and-out {
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
}
.App{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  overflow-x: hidden;
}

h1{
  color: white;
}

h3{
  color: white;
}
h4{
  color: white;
}

.start{
  animation: in-and-out 3s infinite;
}
p{
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.grid-container{
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.grid-container.block-twenty .grid-item {
  width: 25px;
  height: 25px;
}

.grid-container.block-thirty{
  width: 600px;
  height: 600px;
}

.grid-container.block-thirty .grid-item {
  width: 20px;
  height: 20px;
}

.grid-item{
  width: 50px;
  height: 50px;
  outline: 1px solid black;
  border-radius: 5px;
  background-color: #21b9c9;
}

.is-food{
  background-color: black;
}

.is-head{
  background-color: red ;
}

.is-tail{
  background-color: orange;
}
.info{
  display: flex;
  flex-wrap: wrap;
}
.score{
  text-align: center;
  padding-right: 20px;
}
.change-grid{
  padding-right: 20px;
}
.change-grid select{
  width: 100%;
  text-align: center  ;
}
.change-level{
  padding-right: 20px;
}
.change-level select{
  width: 100%;
  text-align: center;
}

